
/**

 SETTINGS PAGE

*/

.q-invoice-page .invoiceSettingsRow{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0x 0px;
    width: 100%;
}

.q-invoice-page .invoiceSettingsRow.activeSetting{
    display: flex;
}

.q-invoice-page .invoiceSettingsRow h2{
    margin-top: 0;
    min-width: 260px;
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}

.q-invoice-page .invoiceSettingsRow th{
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 17px 0;
}

.q-invoice-page .invoiceSettingsRow table{
    margin-bottom: 20px;
}

.q-invoice-page .invoiceSettingsRow td {
    vertical-align: middle;
    padding: 0 0 12px 0;
}

.q-invoice-page .settingsFull{
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.q-invoice-page .settingsFull th{
    width: 20%;
}

.q-invoice-page .settingsFull td{
    width: 80%;
}

.q-invoice-page .settingsHalf{
    width: 50%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.q-invoice-page .settingsHalf th{
    width: 40%;
}

.q-invoice-page .settingsHalf td{
    width: 60%;
}

.q-invoice-page .settingsThirds{
    width: 33%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.q-invoice-page .settingsThirds th{
    width: 40%;
}

.q-invoice-page .settingsThirds td{
    width: 60%;
}

.q-invoice-page .settingsTwoThirds{
    width: 66%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.q-invoice-page form#qinvoiceSettings {
    border: 1px solid #dadce1;
    background-color: white;
    padding: 40px 20px 40px 40px;
    margin-left: 0px;
}

.q-invoice-page .invoiceSettingsRow input {
    font-family: sans-serif;
    font-size: 14px;
    height: 32px;
}

.q-invoice-page .invoiceSettingsRow input[type=text],
.q-invoice-page .invoiceSettingsRow input[type=email],
.q-invoice-page .invoiceSettingsRow input[type=number],
.q-invoice-page .invoiceSettingsRow input[type=tel] {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #dadce1;
    border-radius: 4px;
    color: #3c434a;
}

.q-invoice-page .invoiceSettingsRow input[id^="tax"] {
    width: 36px;
}

.q-invoice-page .invoiceSettingsRow select {
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
    border: 1px solid #dadce1;
    height: 32px;
    width: 100px;
}

.q-invoice-page .invoiceSettingsRow input.error {
    border-color: red;
}

.q-invoice-page .invoiceSettingsRow input.error:focus {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    outline:none;
} 

.q-invoice-page p.submit input#saveSettings {
    width: 360px;
    height:36px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.q-invoice-page .invoiceSettingsRow input#currencySign {
    display:none;
    width: 36px;
}

.q-invoice-page .invoiceSettingsRow input#ZIP,
.q-invoice-page .invoiceSettingsRow input#prefix,
.q-invoice-page .invoiceSettingsRow input#noStart {
    width: 60px;
}

.q-invoice-page .invoiceSettingsRow input#port {
    width: 72px;
}

.q-invoice-page .invoiceSettingsRow input#reminder,
.q-invoice-page .invoiceSettingsRow input#dunning1,
.q-invoice-page .invoiceSettingsRow input#dunning2,
.q-invoice-page .invoiceSettingsRow input#reminderDayLimit,
.q-invoice-page .invoiceSettingsRow input#dunning1daylimit,
.q-invoice-page .invoiceSettingsRow input#dunning2daylimit {
    text-align: right;
    width: 72px;
}

.q-invoice-page .invoiceSettingsRow input#unit {
    width: 84px;
}

.q-invoice-page .invoiceSettingsRow input#phone,
.q-invoice-page .invoiceSettingsRow input#IP,
.q-invoice-page .invoiceSettingsRow input#user {
    width: 144px;
}

.q-invoice-page .invoiceSettingsRow input#password {
    width: 144px;
    border: 1px solid #dadce1;
}

.q-invoice-page .invoiceSettingsRow div.tableSpacer {
    margin-bottom: 2px;
}

.q-invoice-page .invoiceSettingsRow textarea {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #dadce1;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
    resize: none;
}

.q-invoice-page .text_details_input_mod textarea{
    min-height: 64px;
}

.q-invoice-page #mailSettingsTable textarea{
    min-height: 140px;
}

.q-invoice-page div#showLogoDiv { 
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: white;
    border: 1px solid #dadce1;
    border-radius: 4px;
    vertical-align: middle;
    color: #3c434a;
    width:240px;
    text-align: center;
}

.q-invoice-page #qinv_settings_delete_logo{
    color: #343a40;
    cursor: pointer;
    font-size: 20px;
    right: 0;
}
.q-invoice-page #qinv_settings_delete_logo::before{
    top: 0;
}

.q-invoice-page .qinv_settings_logo_tbBuffer{
    height: 20px;
    width:100%;
    text-align: right;
}

.q-invoice-page span.dashicons-format-image {
    vertical-align: middle;
    color: rgb(34, 113, 177);
}

@media only screen and (max-width:1100px){

    .q-invoice-page .invoiceSettingsRow th {
        display: block;
        width: 100%;
    }

    .q-invoice-page .invoiceSettingsRow td {
        display: block;
        width: 100%;
    }

    .q-invoice-page .invoiceSettingsRow input {
        margin: 0;
        height: 36px;
    }

    .q-invoice-page .invoiceSettingsRow input[type=text],
    .q-invoice-page .invoiceSettingsRow input[type=email],
    .q-invoice-page .invoiceSettingsRow input[type=number],
    .q-invoice-page .invoiceSettingsRow input[type=tel] {
        width: 100%;
    }

    .q-invoice-page .invoiceSettingsRow input[id^="tax"] {
        width: 100px;
    }
    
}

@media only screen and (max-width:782px){

    .q-invoice-page .invoiceSettingsRow.activeSetting{
        display: block;
    }
    
    .q-invoice-page .settingsHalf,
    .q-invoice-page .settingsThirds,
    .q-invoice-page .settingsTwoThirds{
        width: 100%;
    }

    .q-invoice-page p.submit input#saveSettings{
        width: 30%;
    }

    div#showLogoDiv{
        margin-left: 0px;
    }

    .q-invoice-page .invoiceSettingsRow th{
        width: 100%;
    }

    .q-invoice-page form#qinvoiceSettings {
        padding: 40px;
    }
    
}

@media only screen and (max-width:500px){

    .q-invoice-page p.submit input#saveSettings{
        width: 60%;
    }
    
}

@media only screen and (max-width:350px){

    .q-invoice-page #settingsFormWrapper{
        overflow-y: scroll;
    }

    .q-invoice-page form#qinvoiceSettings{
        min-width: 200px;
    }
    
}