
/**

 SETTINGS PAGE

*/

.q-invoice-page form#qinvoiceSettings {
    border: 1px solid #c0c0c0;
    background-color: white;
    padding: 40px 40px 40px 40px;
    margin-left: 0px;
}

.q-invoice-page section#settingsTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0x 0px;
    width: 100%;
}

.q-invoice-page .containerFirst {
    height: 450px;
}

.q-invoice-page .containerSecond {
    height: 370px;
}

.q-invoice-page #firstColumn {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.q-invoice-page #firstColumn .container {
    align-self: flex-start;
}

.q-invoice-page #secondColumn {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.q-invoice-page #secondColumn .container {
    align-self: center;
}

.q-invoice-page #secondColumn .containerFirst {
    margin-right: 0px;
}

.q-invoice-page #thirdColumn {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.q-invoice-page #thirdColumn .container {
    align-self: flex-end;
}

.q-invoice-page section.invoiceSettings h2 {
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}

.q-invoice-page section.invoiceSettings th {
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 14px;
    width: 118px;
    font-weight: bold;
    padding: 0 0 12px 0;
}



.q-invoice-page section.invoiceSettings td {
    vertical-align: middle;
    padding: 0 0 12px 0;
}


.q-invoice-page section.invoiceSettings input {
    font-family: sans-serif;
    font-size: 14px;
    height: 32px;
}

.q-invoice-page section.invoiceSettings input[type=text] {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #c0c0c0;
    width: 240px;
    height: 32px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
}

.q-invoice-page section.invoiceSettings input[type=email] {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #c0c0c0;
    width: 240px;
    height: 32px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
}



.q-invoice-page section.invoiceSettings input[type=number] {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #c0c0c0;
    height: 32px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
}

.q-invoice-page section.invoiceSettings input[type=tel] {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #c0c0c0;
    height: 32px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
}

.q-invoice-page section.invoiceSettings select {
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
    border: 1px solid #c0c0c0;
    height: 32px;
}

.q-invoice-page p.submit input#saveSettings {
    width: 360px;
    height:36px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.q-invoice-page section.invoiceSettings input#ZIP {
    width: 48px;
}

.q-invoice-page section.invoiceSettings input#prefix {
    width: 60px;
}

.q-invoice-page section.invoiceSettings input#noStart {
    width: 60px;
}

section.invoiceSettings input[id^="tax"] {
    width: 36px;
}

.q-invoice-page section.invoiceSettings input#currencySign {
    display:none;
    width: 36px;
}

.q-invoice-page section.invoiceSettings input#unit {
    width: 84px;
}

.q-invoice-page section.invoiceSettings input#phone {
    width: 144px;
}

.q-invoice-page section.invoiceSettings input#reminder {
    text-align: right;
    width: 72px;
}

.q-invoice-page section.invoiceSettings input#dunning1 {
    text-align: right;
    width: 72px;
}

.q-invoice-page section.invoiceSettings input#dunning2 {
    text-align: right;
    width: 72px;
}

.q-invoice-page section.invoiceSettings input#IP {
    width: 144px;
}

.q-invoice-page section.invoiceSettings input#user {
    width: 144px;
}

.q-invoice-page section.invoiceSettings input#password {
    width: 144px;
}

.q-invoice-page section.invoiceSettings input#port {
    width: 72px;
}

.q-invoice-page section.invoiceSettings div.tableSpacer {
    margin-bottom: 2px;
}

.q-invoice-page  textarea {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #c0c0c0;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
    resize: none;
}

.q-invoice-page div.invisibleHeader > h2 {
    color: white;
}


.q-invoice-page #currencySign {
    vertical-align: middle;
}

div#popupLogoImage {
    background-color: white;
    position: absolute;
    top:300px;
    left:260px;
    
    display:none; 
    z-index:2;
    
    border:1px solid #3c434a;
}

div#popupLogoImage img {
        padding: 40px;
        max-height: 400px;
}




button#showLogoButton { 
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 14px;
    height: 33px;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    vertical-align: middle;
    color: #3c434a;
    cursor: pointer;
    
}

span.dashicons-format-image {
    vertical-align: middle;
    color: rgb(34, 113, 177);
}
