
/* Div that frames the form*/

.q-invoice-page div#edit-invoice {
    margin-top: 93px;
    margin-left: 222px;
    margin-right: 45px;
    margin-bottom: 61px;
    padding: 40px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}

.q-invoice-page div#heading-invoice h2 {
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 0;
}


.q-invoice-page h2#formHeaderCreate {
    display: none;
}

.q-invoice-page h2#formHeaderEdit {
    display: none;
}


/* Div that frames the Input Fields of the Invoice Form*/

.q-invoice-page div#invoiceInputTables {
    margin-left: 0px;
    margin-bottom: 25px;
    display: flex;
}


/* Div that frames the left input fields of the Invoice*/

.q-invoice-page div#invoiceInputTableLeft {
    width: 50%;
}


/* Styles for the left table, the labels and input fields*/

.q-invoice-page table#invoiceFormInputsLeft {
    font-family: sans-serif;
    font-size: 14px;
    /*border-spacing: 0 12px;*/
}

.q-invoice-page div#invoiceInputTables td {
    padding-bottom: 12px;
}

.q-invoice-page tr#tableRowBank1 td {
    padding-bottom: 6px;
}

.q-invoice-page td.labelsLeftTable {
    width: 120px;
    font-weight: bold;
}

.q-invoice-page td.inputsLeftTable {
    width: 322px;
}

.q-invoice-page td.inputsLeftTable input {
    width: 320px;
}

.q-invoice-page .input_container {
    position: relative;
    padding: 0;
    margin: 0 0px;
    background: #ddd;
    width: 320px;
}

.q-invoice-page #invoiceForm #company {
    height: 36px;
    margin: 0;
    padding-right: 30px;
    width: 100%;
}

/*.q-invoice-page #invoiceForm #inputDashiconCompanyRegister {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
}*/

.q-invoice-page #invoiceForm td.inputsLeftTable input#firstname {
    width: 152px;
}

.q-invoice-page #invoiceForm td.inputsLeftTable input#lastname {
    width: 152px;
}

.q-invoice-page #invoiceForm td.inputsLeftTable input#zip {
    width: 80px;
}

.q-invoice-page #invoiceForm td.inputsLeftTable input#city {
    width: 224px;
}

.q-invoice-page #invoiceForm td.inputsLeftTable input#loc_id {
    width: 60px;
}


/* Spacer between left and right table using flexbox-layout*/

.q-invoice-page #invoiceForm div#invoiceInputTableSpacer {
    flex-grow: 1;
}


/* Styles for the right table, labels and input fields*/

.q-invoice-page #invoiceForm div#invoiceInputTableRight {
    width: 45%;
}

.q-invoice-page #invoiceForm table#invoiceFormInputsRight {
    font-family: sans-serif;
    font-size: 14px;
    /*border-spacing: 0 12px;*/
}

.q-invoice-page #invoiceForm td.labelsRightTable {
    width: 90%;
    font-weight: bold;
}

.q-invoice-page #invoiceForm td.inputsRightTable {
    width: fit-content;
}

.q-invoice-page #invoiceForm td.inputsRightTable input[type=text],
.q-invoice-page input[type=date] {
    width: 140px;
    height: 32px;
}

.q-invoice-page #invoiceForm td.inputsRightTable input#invoice_id {
    width: 60px;
    height: 32px;
}


/* Separator between invoice header and invoice details*/

.q-invoice-page #invoiceForm hr {
    margin: 5px 0px 25px 0px;
}


/* div that frames the table for the invoice details (items) */

.q-invoice-page #invoiceForm div.invoice-items {
    margin-left: 0px;
    border-radius: 8px;
    border: 1px solid #dadce1;
}

.q-invoice-page #invoiceForm table#items {
    table-layout: fixed;
    border-collapse: collapse;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 0px;
    background-color: #F7F7F7;
}

.q-invoice-page #invoiceForm table#items input {
    border-radius: 4px;
    padding-left: 14px;
    height: 32px;
}

.q-invoice-page #invoiceForm table#items input {
    margin-left: 0px;
    height: 32px;
}

.q-invoice-page #invoiceForm tr#table-invoice-items-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #dadce1;
}

.q-invoice-page #invoiceForm tr#table-invoice-items-header td {
    font-weight: bold;
}

.q-invoice-page #invoiceForm table#items td {
    font-family: sans-serif;
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px;
}

.q-invoice-page #invoiceForm tr#table-invoice-items-header td {
    padding-top: 25px;
    padding-bottom: 25px;
}

.q-invoice-page #invoiceForm table#items input[type=number] {
    width: 80px;
    height: 32px;
}

.q-invoice-page #invoiceForm table#items input.qInvcLine-rabatt-absolut {
    width: 80px;
    height: 32px;
}

.q-invoice-page table#items td.invoiceMoveButton {
    width: 18px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsNo {
    width: 14px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsAmount {
    width: 72px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsAmount input[type=number][name='anzahl[]'] {
    width: 60px;
    height: 32px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsDescription {
    width: 100%;
    padding-left: 20px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsDescription input.itemDescription {
    width: 100%;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsPrice {
    width: 100px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsDiscount {
    width: 140px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsTax {
    width: 80px;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsTotal {
    width: 80px;
    text-align: right;
}

.q-invoice-page #invoiceForm table#items td.invoiceItemsButtons {
    width: 24px;
}

.q-invoice-page #invoiceForm span#invoiceSortHandle {
    width: 16px;
    height: 24px;
}

.q-invoice-page #invoiceForm tr.wp-list-table-qInvcLine {
    border-bottom: 1px solid #dadce1;
    background-color: white;
}


.q-invoice-page #invoiceForm div#invoice-sums {
    font-family: sans-serif;
    font-size: 14px;
    width: 420px;
    margin-left: auto;
    margin-right: 44px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid #dadce1;
    border-radius: 4px;
}

.q-invoice-page #invoiceForm table#sums {
    margin-left: auto;
    margin-right: auto;
}

.q-invoice-page #invoiceForm td.invoiceSumsAccounts {
    width: 100px;
    text-align: right;
    padding-right: 28px;
}

.q-invoice-page #invoiceForm td.invoiceSumsLabel {
    width: 100px;
    text-align: left;
    /*background-color:white; */
    padding-left: 28px;
}

.q-invoice-page #invoiceForm table#sums tr#qInvc-total-gross {
    font-weight: bold;
    border-top: 1px solid #dadce1;
}

.q-invoice-page #invoiceForm select#tax-multi {
    border-radius: 4px !important;
    height: 32px;
    text-align: right;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c434a;
    border: 1px solid #dadce1;
}





.q-invoice-page #invoiceForm select.discountType {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    border-radius: 4px;
    
    margin-bottom: 2px;
    
}

.q-invoice-page #invoiceForm div.autocompleteDIV {
    background-color: #fff;
    width: 320px;
    display: none;
    z-index: 3;
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    border: 1px solid #dadce1;
    /*border-top: 1px solid white;*/
    border-radius: 5px;
}

.q-invoice-page #invoiceForm div#autocompleteLastname{
    width: 100%;
    margin-top: 36px;
}

.q-invoice-page #invoiceForm div.autocompleteButton {
    border-bottom: 1px solid #dadce1;
    display: block;
    height: auto;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.q-invoice-page #invoiceForm div.autocompleteButton:hover {
    background: rgba(150, 150, 150, 0.1);
}

.q-invoice-page #invoiceForm tr.contactRegisterRow:hover {
    background: rgba(150, 150, 150, 0.1);
    
}

#qi_invoiceFormPositions{
    display:flex;
}


#qinv_saveContactLabel{
    width: 50%;
    float: unset;
}

.q-invoice-page #invoiceForm div#autocompleteFirstname{
    margin-top: 36px;
}

@media only screen and (max-width:1300px){

    .q-invoice-page #invoiceForm div.invoice-items{
        overflow-y: auto;
    }

    .q-invoice-page #invoiceForm table#items td.invoiceItemsDescription {
        width: 100px;
    }
    
    .q-invoice-page #invoiceForm table#items td.invoiceItemsDescription input.itemDescription {
        width: 100px;
    }

}

@media only screen and (max-width:960px){

    .q-invoice-page div#edit-invoice{
        margin-left: 50px;
        margin-right: 14px;
    }

}

@media only screen and (max-width:780px){

    .q-invoice-page div#edit-invoice{
        margin-left: 20px;
        margin-right: 20px;
    }

    .q-invoice-page div#invoiceInputTables{
        display: block;
    }

    .q-invoice-page #invoiceForm tr#table-invoice-items-header td, .q-invoice-page #invoiceForm table#items td{
        display: table-cell;
    }

    .q-invoice-page #invoiceForm table#items td.invoiceItemsAmount{
        width: 100px;
    }

    #qi_amountField{
        display: flex;
    }

    .q-invoice-page #invoiceForm div#invoice-sums{
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .qi_mobileFlex{
        display: flex;
    }

    .q-invoice-page #invoiceForm div#autocompleteLastname, .q-invoice-page #invoiceForm div#autocompleteFirstname{
        margin-top: 40px;
    }

}

@media only screen and (max-width:550px){

    #qi_invoiceFormButtons{
        text-align: center;
    }

    #qi_invoiceFormPositions{
        display:block;
    }

    #saveInvoice, #updateInvoice{
        float: unset!important;
    }

    .q-invoice-page td.labelsLeftTable, .q-invoice-page #invoiceForm td.labelsRightTable{
        width: 40%;
    }

    .q-invoice-page div#invoiceInputTableLeft, .q-invoice-page #invoiceForm div#invoiceInputTableRight, .q-invoice-page #invoiceForm table#invoiceFormInputsRight{
        width: 100%;
    }

    .q-invoice-page td.inputsLeftTable{
        width: 60%
    }

    .q-invoice-page .input_container{
        width: 100%;
    }

    .q-invoice-page td.inputsLeftTable input{
        width: 100%;
    }

    .q-invoice-page #invoiceForm #company{
        width: 100%;
    }

    /*.q-invoice-page #invoiceForm #inputDashiconCompanyRegister{
        width: 100%;
    }*/

    .qi_formNames{
        width: 49%;
    }

    .qi_formZIP{
        width: 29%;
    }
    .qi_formCity{
        width: 69%
    }

    .q-invoice-page #invoiceForm td.inputsLeftTable input#firstname, .q-invoice-page #invoiceForm td.inputsLeftTable input#lastname, .q-invoice-page #invoiceForm td.inputsLeftTable input#zip, .q-invoice-page #invoiceForm td.inputsLeftTable input#city{
        width: 100%;
    }

    .q-invoice-page #invoiceForm td.inputsRightTable{
        width:60%;
    }

    .q-invoice-page #invoiceForm td.inputsRightTable input[type=text],
    [type=date]{
        width: 100%;
        height: 36px;
        font-size: 12px !important;
    }

    .q-invoice-flexPlaceholder{
        flex-grow: 0;
    }

    .q-invoice-page #invoiceForm div.autocompleteDIV{
        width: 100%;
    }

    .q-invoice-page #invoiceForm div.invoice-items {
        overflow-y: unset;
    }

    #qi_allItemsAndSums{
        overflow-y: auto;
    }

}