.q-invoice-page #newInvoice {
    float:right;
}



.q-invoice-page td.column-edit span.edit {
    cursor: pointer;
}

.q-invoice-page td.column-edit span.deleteRow {
    cursor: pointer;
}

.q-invoice-page table#tableInvoices{
    border-collapse: collapse;
    width: 100%;
}

.q-invoice-page table#tableInvoices thead#tableInvoicesHeader tr th:first-child{
    padding-left:20px;
}

.q-invoice-page table#tableInvoices tbody tr td:first-child {
    padding-left:20px;
}

.q-invoice-page table#tableInvoices thead#tableInvoicesHeader {    
    border-color:   #F7F7F7;
}

.q-invoice-page table#invtableInvoicesoices thead#tableInvoicesHeader td#openInvoices{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: solid 1px #d4d4d4;;
    
}
.q-invoice-page table#tableInvoices th
{
    padding-bottom: 9px;
    padding-top: 9px;  
}

.q-invoice-page table#tableInvoices td
{
    padding-bottom: 7px;
    padding-top: 7px;  
    vertical-align: middle;
}

.q-invoice-page table#tableInvoices tbody tr
{
    cursor: pointer;
    border-bottom: solid 1px lightgray;
}
.q-invoice-page table#tableInvoices tbody tr:hover
{
    background: rgba(150, 150, 150, 0.1);
}
.q-invoice-page table#tableInvoices .columnInvoiceID{
    text-align: left;
}

.q-invoice-page table#tableInvoices .columnStatus{
    text-align: center;
}
.q-invoice-page table#tableInvoices .columnDate{
    text-align: right;
}

.q-invoice-page table#tableInvoices .columnNet{
    text-align: right;
}

.q-invoice-page table#tableInvoices .columnTotal{
    text-align: right;
}

.q-invoice-page table#tableInvoices .columnDunning{
    text-align: right;
}


.q-invoice-page table#tableInvoices .columnStatusPaid{
    text-align: right;
}

.q-invoice-page table#tableInvoices .columnEdit{
    text-align: right;
    padding-right: 20px;
}

.q-invoice-page div.confirmationBox
{
    /*height: auto;*/
    scrollbar-width: none; 
    width: 20%;
    position: relative;
    /*overflow-y: scroll;*/
    border: none;         
    padding:10px;  
    background-color:white;
    border-radius:5px; 
    margin-top: 70px;
    
    margin-left: 40%;
    margin-right: 40%;
}


.q-invoice-page div#filterButtons div.filterButton input[type=text] {
    
    
   padding-left: 2px;
   
    color: #3c434a;
    background-color: white ;
    height: 35px;
    min-height:20px;
    width:80%;
    margin:auto;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 14px;
    border: 0px;
    box-shadow: 0 0 0 0px;
    
    
   
}
td.manage-column.columnEdit > * {vertical-align: middle;}

.q-invoice-page div#filterButtons div.filterButton span {
    vertical-align: middle;
}
.q-invoice-page div#filterButtons div.filterButton input[type=text]:focus {
    border: 0px;
    box-shadow: 0 0 0 0px;
}

dashicons-download {
    vertical-align: middle;
}

.q-invoice-page .circle
{
  width: 20px;
  height: 20px;
  margin-left:4px;
  margin-right:4px;
  border-radius: 50%;
  border: 0px solid;
  background-color: #ff0000;
  opacity: 0.8;
  
  display: inline-block;
}

.q-invoice-page .circle.paid.active {
    background-color: green;
}

.q-invoice-page .circle.paid.active {
    background-color: green;
}

.q-invoice-page .circle.paid.cancelled {
  background-color: lightgreen;
}

.q-invoice-page .circle.cancelled {
  background-color: grey;
}

.q-invoice-page .circle.dunning {
    background-color: red;
}

.q-invoice-page .circle.dunning.cancelled {
    background-color: lightsalmon;
}

.q-invoice-page .circle.open {
    background-color: yellow;
}
.q-invoice-page .circle.open.cancelled {
    background-color: gray;
}

