

.q-invoice-page #qiNewContact {
    float:right;
}
/* Div that frames the form - copied from invoices - make it class?*/
.q-invoice-page #qiContactPopup{
    display: inline-block;
    margin-top: 112px;
    margin-left:40%;
    margin-right:40%;
    width:20%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}


.q-invoice-page td {
    padding-bottom: 12px;
}

.q-invoice-page td.qiContactTableLabel {
    width: 120px;
}

.q-invoice-page input[type=text],
[type=date] {
    border-radius: 4px !Important;
    height: 36px;
    padding-left: 14px;
}

.q-invoice-page input.qiContactInput {
    border-radius: 4px !Important;
    height: 36px;
    padding-left: 14px;
    font-size: 14px;
}


.q-invoice-page table#contacts{
    border-collapse: collapse;
}

.q-invoice-page table#contacts td.first{
    
    padding-left:20px;

    
}

.q-invoice-page table#contacts td.last{
    
    padding-right:20px;
    
}

.q-invoice-page table#contacts thead{
    background-color: #F7F7F7;
    border-color:   #F7F7F7;
}
.q-invoice-page table#contacts thead td{
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
    border-bottom: solid 1px #d4d4d4;;
    
}

.q-invoice-page table#contacts td
 {
    
    padding-bottom: 7px;
    padding-top: 7px;

    
}


.q-invoice-page td.columnRowID 
{
    padding-left: 20px;
    width:1%;
}
.q-invoice-page td.columnCompany
{

}
.q-invoice-page td.columnName
{

}
.q-invoice-page td.columnCity
{

}
.q-invoice-page td.columnEmail
{

}
.q-invoice-page td.columnStatus
{

}
.q-invoice-page td.columnEdit
{
    text-align: right;
    padding-right: 20px;

}

