

.q-invoice-page #qiNewContact {
    float:right;
    height:30px;
    line-height:unset;
}
/* Div that frames the form - copied from invoices - make it class?*/
.q-invoice-page #qiContactPopup{
    display: block;
    margin: auto;
    margin-top: 93px;
    margin-bottom: 78px;
    width:25%;
    padding: 12px 40px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    position:relative;
}

.q-invoice-page #qiContactFormTable{
    width: 100%;
}

.q-invoice-page td {
    padding-bottom: 12px;
}

.q-invoice-page td.qiContactTableLabel {
    width: 40%;
}

.q-invoice-page td.qiContactTableInput {
    width: 60%;
}

.q-invoice-page input[type=text],
.q-invoice-page input[type=date] {
    border-radius: 4px !Important;
    height: 36px;
    padding-left: 14px;
}

.q-invoice-page input.qiContactInput {
    border-radius: 4px !Important;
    height: 36px;
    padding-left: 14px;
    font-size: 14px;
    width:100%;
}


.q-invoice-page table#contacts{
    border-collapse: collapse;
    min-width: 760px;
}

.q-invoice-page table#contacts td.first{
    
    padding-left:20px;

    
}

.q-invoice-page table#contacts td.last{
    
    padding-right:20px;
    
}

.q-invoice-page table#contacts thead{
    background-color: #F7F7F7;
    border-color:   #F7F7F7;
}
.q-invoice-page table#contacts thead td{
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
    border-bottom: solid 1px #d4d4d4;;
    
}

.q-invoice-page table#contacts td
 {
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
}


.q-invoice-page td.contactsColumnRowID 
{
    padding-left: 20px;
    width:1%;
}

.q-invoice-page td.contactsColumnCompany 
{
    width:100px;
}

.q-invoice-page td.contactsColumnName
{
    width:100px;
}

.q-invoice-page td.contactsColumnCity
{
    width:100px;
}

.q-invoice-page td.contactsColumnEmail
{
    width:100px;
}

.q-invoice-page td.contactsColumnStatus
{
    width:10px;
}

.q-invoice-page td.contactsColumnEdit
{
    text-align: right;
    padding-right: 20px;
    width: 20px!important;
}

.q-invoice-page div#show-contacts{
    overflow-y: scroll;
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}

.q-invoice-page div#show-contacts::-webkit-scrollbar{
    display: none;              /* Chrome, Safari, Opera*/
}

@media only screen and (max-width:1300px){

    .q-invoice-page #qiContactPopup{
        width: 30%;
    }

}

@media only screen and (max-width:1100px){

    .q-invoice-page td.columnEdit{
        width: 31px!important;
    }
    
}

@media only screen and (max-width:850px){

    .q-invoice-page td.columnEdit{
        width: 37px!important;
    }
    
}

@media only screen and (max-width:782px){

    .q-invoice-page #qiContactPopup{
        width: auto;
        margin-left: 46px;
        margin-right: 46px;
        min-width: 350px;
        overflow-y: scroll;
    }

    
}

@media only screen and (max-width:500px){
    
    #qi_contactsAddNewButton{
        display: block;
        margin-top: 10px;
    }

    .q-invoice-page #qiNewContact{
        float: left;
    }

}