/* General Settings */
.invoice-page{
    padding-left: 0px;
    padding-right:20px;
}
.q-invoice-page td
{
    box-sizing: content-box;    
}
.q-invoice-page html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI" "Helvetica Neue", Oxygen-Sans, Ubuntu, Roboto, Cantarell, sans-serif;
}

.q-invoice-page h1.headerline {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: 600;;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 34px;
    margin-left: 0px;
    display: flex;
}

.q-invoice-page h1.headerline > *{
    vertical-align: middle;
}

.q-invoice-page #imgSnowflake {
    height: 30px;
    width: 30px;
}


.q-invoice-page h2 {
    font-size: 1.6em;
}
.q-invoice-page a {
    text-decoration: none;
    color:black;
}
 
.q-invoice-page #overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 2;
    cursor: default;
}   

.q-invoice-page .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 80px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 2;
    cursor: default;
}   




/* Supress arrows on number inputs with decimals*/

.q-invoice-page input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.q-invoice-page input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.q-invoice-page input[type=number] {
    -moz-appearance: textfield;
}

.qinvoiceMessage.messageSuccess
{
    margin-top:20px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.qinvoiceMessage.messageSuccess span {
    background: #1bd89e;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    /*margin: 0 auto;*/
    padding: 15px 30px;
    text-align: center;
    width: 50%;


    margin-left: 25%;
    margin-right: 25%;
    
}

.qinvoiceMessage.messageFail
{
    margin-top:20px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.qinvoiceMessage.messageFail span {
    background: #fe667b;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    /*margin: 0 auto;*/
    padding: 15px 30px;
    text-align: center;
    width: 50%;


    margin-left: 25%;
    margin-right: 25%;
    
}


.q-invoice-page textarea {
    overflow: auto;
  }

.q-invoice-page section.invoiceSettings input:invalid {
    border-color:red;
    
}
.q-invoice-page td.fiftyCol, th.twentyCol
{
    width:2%;
}

.q-invoice-page td.fiftyCol, th.fiftyCol
{
    width:5%;
}
.q-invoice-page td.twohundredCol, th.twohundredCol
{
    width: 20%;
}
.q-invoice-page td.hundredCol, th.hundredCol
{
    width:10%;
}
.q-invoice-page td.eightyCol, th.eightyCol
{
    width:8%;
}

.q-invoice-page input.error,
select.error,
textarea.error {
  outline: none;
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.q-invoice-page input.error:valid {
    border-style: auto;
    border-color: inherit;
}
.q-invoice-page select.error:valid {
    border-style: auto;
    border-color: inherit;
}
.q-invoice-page textarea.error:valid {
    border-style: auto;
    border-color: inherit;
}

@media only screen and (max-width:1050px){
    .invoice-page{
        padding-top: 20px;
    }
}


@media only screen and (max-width:960px){
    
    .q-invoice-page .overlay {
        left: 35px;
    }
}

@media only screen and (max-width:780px){

    .q-invoice-page .overlay {
        left: 0px;
    }

    .invoice-page{
        padding-top: 0px;
    }
    
}

@media only screen and (max-width:620px){
    .invoice-page{
        padding-top: 60px;
    }
    
}

@media only screen and (max-width:330px){
    .q-invoice-page h1.headerline {
        margin-bottom: 40px;
    }
}