/* General Settings */
.invoice-page{
    padding-left: 0px;
    padding-right:20px;
}
.q-invoice-page td
{
    box-sizing: content-box;    
}
.q-invoice-page html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI" "Helvetica Neue", Oxygen-Sans, Ubuntu, Roboto, Cantarell, sans-serif;
}

.q-invoice-page h1.headerline {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.q-invoice-page h1.headerline > *{
    vertical-align: middle;
}

.q-invoice-page #imgSnowflake {
    height: 30px;
    width: 30px;
}


.q-invoice-page h2 {
    font-size: 1.6em;
}
.q-invoice-page a {
    text-decoration: none;
    color:black;
}
 
.q-invoice-page #overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 2;
    cursor: default;
}   

.q-invoice-page .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 2;
    cursor: default;
}   




/* Supress arrows on number inputs with decimals*/

.q-invoice-page input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.q-invoice-page input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.q-invoice-page input[type=number] {
    -moz-appearance: textfield;
}

.qinvoiceMessage.messageSuccess
{
    margin-top:20px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.qinvoiceMessage.messageSuccess span {
    background: #4a9a5c;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    /*margin: 0 auto;*/
    padding: 15px 30px;
    text-align: center;
    width: 50%;


    margin-left: 25%;
    margin-right: 25%;
    
}


.q-invoice-page textarea {
    overflow: auto;
  }

.q-invoice-page section.invoiceSettings input:invalid {
    border-color:red;
    
}


.q-invoice-page td.fiftyCol, th.fiftyCol
{
    width:5%;
}
.q-invoice-page td.twohundredCol, th.twohundredCol
{
    width: 20%;
}
.q-invoice-page td.hundredCol, th.hundredCol
{
    width:10%;
}
.q-invoice-page td.eightyCol, th.eightyCol
{
    width:8%;
}

.q-invoice-page input.error,
select.error,
textarea.error {
  outline: none;
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.q-invoice-page input.error:valid {
    border-style: auto;
    border-color: inherit;
  }
  .q-invoice-page select.error:valid {
    border-style: auto;
    border-color: inherit;
  }
  .q-invoice-page textarea.error:valid {
    border-style: auto;
    border-color: inherit;
  }


  .q-invoice-page .circle
  {
    width: 20px;
    height: 20px;
    margin-left:4px;
    margin-right:4px;
    border-radius: 50%;
    border: 0px solid;
    background-color: #ff0000;
    opacity: 0.8;
    
    display: inline-block;
  }