
.q-invoice-page button#qInvc-add-line {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3c434a;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    height: 36px;
    width: 150px;
    margin-top: 12px;
    margin-left: 12px;
}

.q-invoice-page .submitButton {
    background-color: rgb(34, 113, 177);
    border: 0px solid rgb(34, 113, 177);
    color: white !important;
 
}
.q-invoice-page .qInvoiceFormButton {
    margin:0 2em;
    height: 36px;
    min-width: 96px;
    
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold !important;
    color: #3c434a;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.q-invoice-page .qInvoiceFormButton.cancelButton{
border: 1px solid #c0c0c0;
}




.q-invoice-page div#filterButtons {
    margin-bottom:-2px;
    display: flex;
    flex-direction: row;
   
    justify-content:space-between;
    
   
}
.q-invoice-page div.filterButton{
    
    flex: 0 1 auto;
    min-width:16%;
    width:17%;
    color: #3c434a;
    border: 1px solid #c0c0c0;
    background-color: white;
    height: 36px;
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold !important;
    
    
    text-align:center;
    padding-left: 0px;
    padding-right: 0px;
    
}





.q-invoice-page div#filterButtons div.active button.invoiceButton  {

    background-color: rgb(34, 113, 177);
    color:white;
    
}

.q-invoice-page div#filterButtons div.filterButton button{
    height: 34px;
    border: 0px solid;
    background-color: white;
    width: 100%;
}
.q-invoice-page div.filterButton.active {
  
    background-color: rgb(34, 113, 177);
    border: 1px solid #c0c0c0;
    color:white;
}


.q-invoice-page button.filterButton:hover
{
    box-shadow: 1px 1px 0 1px rgb(34, 113, 177);

}

.q-invoice-page .switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
  }
  
.q-invoice-page .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }


.q-invoice-page .invoiceSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .q-invoice-page .invoiceSlider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .q-invoice-page input:checked + .invoiceSlider {
    background-color: rgb(34, 113, 177);
  }
  
  .q-invoice-page input:focus + .invoiceSlider {
    box-shadow: 0 0 1px rgb(34, 113, 177);
  }
  
  .q-invoice-page input:checked + .invoiceSlider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded invoiceSliders */
  .q-invoice-page .invoiceSlider.round {
    border-radius: 20px;
  }
  
  .q-invoice-page .invoiceSlider.round:before {
    border-radius: 50%;
  }

