
.q-invoice-page button#qInvc-add-line {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3c434a;
    background-color: white;
    border: 1px solid #dadce1;
    border-radius: 4px;
    height: 36px;
    width: 150px;
    margin-top: 12px;
    margin-left: 12px;
}

.q-invoice-page .submitButton {
    background-color: rgb(34, 113, 177);
    border: 0px solid rgb(34, 113, 177);
    color: white !important;
 
}

.q-invoice-page #searchInvoices{
  width: 20%;
  border-right: none;
}
.q-invoice-page .qInvoiceFormButton {
    margin:0 2em;
    height: 36px;
    min-width: 96px;
    
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold !important;
    color: #3c434a;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.q-invoice-page .qInvoiceFormButton.cancelButton{
border: 1px solid #dadce1;
}




.q-invoice-page div#filterButtons {
    margin-bottom:-2px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px solid #dadce1;
    
   
}
.q-invoice-page div.filterButton{
    
    flex: 0 1 auto;
    min-width: 16%;
    width: 16%;
    color: #3c434a;
    background-color: white;
    height: 36px;
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold !important;
    text-align:center;
    padding-left: 0px;
    padding-right: 0px;
    border-top: none;
    border-right: 1px solid #dadce1;
    border-bottom: none;
    border-left: none;
    
}


.q-invoice-page div#filterButtons div.active button.invoiceButton  {

    background-color: rgb(34, 113, 177);
    color:white;
    
}

.q-invoice-page div#filterButtons div.filterButton button{
    height: inherit;
    border: none;
    background-color: white;
    width: 100%;
    height: 100%;
}
.q-invoice-page div.filterButton.active {
  
    background-color: rgb(34, 113, 177);
    border: 1px solid rgb(34, 113, 177);
    color:white;
}


.q-invoice-page button.filterButton:hover
{
    box-shadow: 1px 1px 0 1px rgb(34, 113, 177);

}

/* Toggle slider CSS start */

.q-invoice-page label:not(.switch) {
  width: 26%;
  float: left;
  min-width: 100px;
  width: 115px;
}

.q-invoice-page label.switch {
  padding: 0;
}

.q-invoice-page .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
}

  .q-invoice-page .switch.large{
    width: 52px;
    height: 25px;
}
  
.q-invoice-page .switch input { 
    opacity: 0 !important;
    width: 0;
    height: 0;
}

.q-invoice-page .invoiceSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  input:disabled + .slider {
    opacity: 0.7;
  }
  
  .q-invoice-page .invoiceSlider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in;
  }

  .q-invoice-page .invoiceSlider.large:before {
    height: 25px;
    width: 25px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
  }

  .q-invoice-page input:checked + .invoiceSlider {
    background-color: #007cba;
  }
  
  .q-invoice-page input:focus + .invoiceSlider {
    box-shadow: 0 0 1px #007cba;
  }
  
  .q-invoice-page input:checked + .invoiceSlider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }

  .q-invoice-page input:checked + .invoiceSlider.large:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
  }

  /* Toggle slider CSS end */
  
  /* Rounded invoiceSliders */
  .q-invoice-page .invoiceSlider.round {
    border-radius: 34px;
  }
  .q-invoice-page .invoiceSlider.round.large {
    height: 25px;
    width:50px;
  }
  
  .q-invoice-page .invoiceSlider.round:before {
    border-radius: 50%;
  }

  .q-invoice-page div#contactFormButtons {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .q-invoice-page div#contactFormButtons button.qInvoiceFormButton.cancelButton{
     margin: 0px;
  }

  .q-invoice-page div#contactFormButtons input.qInvoiceFormButton.submitButton{
     margin: 0px;
  }
  

  .q_invoice_outerButton{
    width: auto !important;
    font-size: 12px;
    padding: 0.25rem 1rem !important;
  }


@media only screen and (max-width:960px){
    .q-invoice-page div.filterButton{
      font-size: 13px;
  }
  .q-invoice-page div#filterButton{
    min-width: 870px;
  }
}

@media only screen and (max-width:782px){
  .q-invoice-page label:not(.switch){
    margin-right: 5px;
  }
}

@media only screen and (max-width:615px){
  .q-invoice-page .qInvoiceFormButton.cancelButton{
    margin-bottom: 5px;
  }
}


@media only screen and (max-width:500px){
  .q-invoice-page div.filterButton{
    font-size: 12px;
  }
}

@media only screen and (max-width:350px){

  .q-invoice-page div#contactFormButtons{
    display: block;
    text-align: center;
  }

  .q-invoice-page div#contactFormButtons button.qInvoiceFormButton.cancelButton{
    margin-bottom: 10px;
  }

  .q_invoice_outerButton{
    padding: 0.25rem 1rem !important;
  }
  
}